<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event registration</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-cloak>
<div class="container">

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="EventDetails.html">Events</a></li>
                <li><a href="NewEvent.html">New Event</a></li>
                <li><a href="EditProfile.html">Edit profile</a></li>
                <li><a href="CacheSample.html">Cache sample</a></li>
                <li><a href="CompileSample.html">Compile sample</a></li>
            </ul>

        </div>
    </div>


    <div ng-controller="EventController" style="padding-left:20px; padding-right:20px">
        <img ng-src="{{eventDetail.imageUrl}}" alt="{{eventDetail.name}}" />

        <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Test scroll to anchor (type ##session'id' after url)</button>

        <div class="row">
            <h2 class="span3">
                <h2 ng-class="[myclass]"  ng-bind-template="{{eventDetail.name | uppercase}} {{eventDetail.date }}">
                </h2>
        </div>


        <button class="btn" ng-disabled="buttonDisabled">Disabled</button>

        <code ng-non-bindable>{{1+2}}</code>

        <div ng-bind-html="snippet">some title</div>

        <h2 ng-show="boolValue">Show this</h2>
        <h2 ng-hide="boolValue">Hide this</h2>

        <div>{{ 3.1415926535 | number:2}}</div>

        <div class="row">
            <div class="span3">
                <div><strong>
                    Date: {{eventDetail.date}}
                    </strong>
                </div>
                <div><strong>Time: {{eventDetail.time}}</strong></div>
            </div>
            <div class="span4">
                <address>
                    <strong>Address: {{eventDetail.location.address}}</strong><br />
                    {{eventDetail.location.city}}, {{eventDetail.location.province}}

                </address>
            </div>
        </div>

        <hr />

        <h3>Sessions</h3>
        Order by:
        <select ng-model="sortOrder" class="input-small">
            <option selected value="name">Name</option>
            <option value="-upVoteCount">Votes (sort desc)</option>
        </select>

        Filter by:
        <select ng-model="query.level" class="input-medium">
            <option selected value="">All</option>
            <option selected value="introductory">Introduksjon</option>
            <option selected value="intermediate">Middels</option>
            <option selected value="advanced">Super duper avansert</option>
        </select>


        <ul class="thumbnails">

            <code>{{eventDetail | json}}</code>

            <li ng-repeat="session in eventDetail.sessions | orderBy:sortOrder | limitTo:1000 | filter:query" id="session{{session.id}}">

                <div class="row session">

                    <div class="span0 well votingWidget">
                        <div class="votingButton" ng-click="upVoteSession(session)">
                            <i class="icon-chevron-up icon-white">
                            </i>
                        </div>
                        <div class="badge badge-inverse">
                            <div>{{session.upVoteCount}}</div>
                        </div>
                        <div class="votingButton" ng-click="downVoteSession(session)">
                            <i class="icon-chevron-down"></i>
                        </div>
                    </div>

                    <div class="well span9">
                        <h4 ng-class-even="blue" class="well-title">{{session.name}}</h4>
                        <p><b>Level:</b> {{session.level}}</p>
                        <span>Duration: {{session.duration | durations}}</span>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>

<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-1.4.4.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="js/app.js"></script>
<script src="js/services/eventdata.js"></script>
<script src="js/controllers/EventController.js"></script>

<script src="js/services/GravatarUrlBuilder.js"></script>

<script src="js/controllers/EditProfileController.js"></script>
<script src="js/filters.js"></script>


</body>
</html>